@charset "UTF-8";


/*! 게시판 > 리스트 공통(prefix : board-list) */
[class^=board-list]{width:100%}
[class^=board-list] table{width:100%;table-layout:fixed}
[class^=board-list] td,[class^=board-list] th{box-sizing:border-box}
[class^=board-list] thead th{padding:15px 0;border-bottom:2px solid #111;text-align:center;font-size:14px;color:#252525;line-height:14px}
[class^=board-list] tbody tr:last-child td,[class^=board-list] tbody tr:last-child th{border-bottom:1px solid #111}
[class^=board-list] tbody td{box-sizing:border-box;padding:15px 0;min-height:76px;border-bottom:1px solid #ececec;letter-spacing:-1px}
[class^=board-list] tbody td.cond,[class^=board-list] tbody td.date,[class^=board-list] tbody td.index,[class^=board-list] tbody td.writer{text-align:center}
[class^=board-list] tbody td.title a{display:inline-block;max-width:95%}
[class^=board-list] tbody td.title strong{font-size:15px;line-height:20px}
[class^=board-list] tbody td.title p{padding-top:7px;font-size:12px;color:#666}
[class^=board-list]+.board-paging{margin-top:50px}


/*! 게시판 > 리스트 기본형(prefix : board-list) */
.board-list{border-top:1px solid #111}
.board-list tbody td{font-size:12px}
.board-list tbody td.title a{display:inline-block;max-width:97%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;zoom:1}
.board-list span.condText *,.board-list tbody td.title *{vertical-align:middle}
.board-list span.condText.replyIn{color:#e03627}


/*! 게시판 >리스트 채용공고형(prefix : board-list) */
.board-list-recruit{border-top:1px solid #111}
.board-list-recruit thead th{background-color:#f9f9f9}
.board-list-recruit tbody td.type{text-align:center;font-weight:700;font-size:15px}
.board-list-recruit tbody td.date p{padding-top:7px;font-size:12px;color:#666}
.board-list-recruit tbody tr.closed td,.board-list-recruit tbody tr.closed td *{color:#999}
