@charset "UTF-8";


/*! 아이콘들 : 아이콘 공통(prefix : ico-) */
[class^=ico-]{display:inline-block;box-sizing:border-box;text-align:center;font-style:normal;font-size:1px;line-height:1px}


/*! 아이콘들 : 아이콘(prefix : ico-) */
.ico-txtCheckRed{width:12px;height:12px;background:url(../images/common/ico/icoTxtCheckRed.png) no-repeat}
.ico-txtCheckGreen{width:12px;height:12px;background:url(../images/common/ico/icoTxtCheckGreen.png) no-repeat}
.ico-txtNewRed{width:12px;height:12px;background:url(../images/common/ico/icoTxtNewRed.png) no-repeat}
.ico-schedule{width:12px;height:12px;background:url(../images/common/ico/icoSchedule.png) no-repeat}
.ico-threeCircleRed{width:12px;height:12px;background:url(../images/common/ico/icoThreeCircleRed.png) no-repeat}
.ico-txtInfoRed{width:18px;height:18px;background:url(../images/common/ico/icoTxtInfoRed.png) no-repeat}
.ico-titRhombus{width:23px;height:24px;background:url(../images/common/ico/icoTitRhombus.png) no-repeat}


/*! 아이콘들 : 라디오(prefix : ico-) */
.ico-radio-circleCheckRed,.ico-radio-lock{width:22px;height:22px;background-image:url(../images/common/bg/bgAgreeRadio.png);background-position:-29px 0;background-repeat:no-repeat}
.ico-radio-circleCheckRed.on,.ico-radio-lock.on{background-position:0 0}
.ico-radio-lock{width:12px;height:12px;background-image:url(../images/common/bg/bgLockRadio.png);background-position:-16px 0}
.ico-radio-A,.ico-radio-Q,.ico-radio-minus,.ico-radio-plus{width:12px;height:12px;background-image:url(../images/common/bg/bgPlusMinusRadio.png);background-position:0 0;background-repeat:no-repeat}
.ico-radio-A,.ico-radio-Q,.ico-radio-minus{background-position:0 -22px}
.ico-radio-A,.ico-radio-Q{width:33px;height:23px;background-image:url(../images/common/bg/bgQnaRadio.png);background-position:0 0}
.ico-radio-A{background-position:0 -32px}


/*! 아이콘들 : 상태 */
[class^=ico-condition]{padding:2px 5px;width:48px;height:17px;font-size:11px;color:#fff;line-height:11px;background-image:url(../images/common/ico/icoCondition.png);background-repeat:no-repeat}
.ico-conditionRed{background-color:#e03627}
.ico-conditionGreen{background-color:#6eb92c}
.ico-conditionBlack{background-color:#252525}
