@charset "UTF-8";
@import "../_lib/val.scss";
@import "../_lib/mixin.scss";

/*! 회사소개 공통 */
.companyWrap{
  .companyH2{padding-bottom:30px;font-size:30px;line-height:30px;text-align:center;border-bottom:1px solid $COLOR-LIGHTGRAY;color:$FONT-DARKGRAY;}
}