// form 요소 전용 변수
$FORM-INLINE-HEIGHT:22px; // 인라인 폼요소 높이
$FORM-FONT-SIZE:12px; // 폼 폰트사이즈

// 폼요소의 패딩간격
$FORM-PADDING-WIDTH:10px;
$FORM-PADDING-HEIGHT:10px;
$FORM-PADDING-LEFT:$FORM-PADDING-WIDTH;
$FORM-PADDING-RIGHT:$FORM-PADDING-WIDTH;
$FORM-PADDING-TOP:$FORM-PADDING-HEIGHT;
$FORM-PADDING-BOTTOM:$FORM-PADDING-HEIGHT;

// 폼요소 보더
$FORM-BORDER:1px solid $COLOR-LIGHTGRAY;