@charset "UTF-8";


/*! 게시판 > 박스리스트 > 공통 */
[class^=board-boxList]{box-sizing:border-box;width:100%;border:1px solid #dedede;background:#fff}

/*! 게시판 > 박스리스트 > 공지사항형(prefix : board-boxList) */
.board-boxList-notice .head{position:relative;box-sizing:border-box;padding:15px;width:100%;height:49px;border-bottom:1px solid #dedede}
.board-boxList-notice .head h2{display:inline-block;max-width:100%;overflow:hidden;white-space:nowrap;font-size:16px;line-height:16px}
.board-boxList-notice .head .more{position:absolute;top:18px;right:20px}
.board-boxList-notice .list{box-sizing:border-box;padding:0 20px;width:100%}
.board-boxList-notice .list table{width:100%;table-layout:fixed}
.board-boxList-notice .list tr:first-child td{border-top:0}
.board-boxList-notice .list td{height:54px;border-top:1px solid #f1f1f1}
.board-boxList-notice .list td.title a{display:inline-block;max-width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:13px;color:#252525;zoom:1}
.board-boxList-notice .list td.date{text-align:right;letter-spacing:-1px;font-size:12px;color:#666}

/*! 게시판 > 리스트 공통(prefix : board-list) */
[class^=board-list]{width:100%}
[class^=board-list] table{width:100%;table-layout:fixed}
[class^=board-list] td,[class^=board-list] th{box-sizing:border-box}
[class^=board-list] thead th{padding:15px 0;border-bottom:2px solid #111;text-align:center;font-size:14px;color:#252525;line-height:14px}
[class^=board-list] tbody tr:last-child td,[class^=board-list] tbody tr:last-child th{border-bottom:1px solid #111}
[class^=board-list] tbody td{box-sizing:border-box;padding:15px 0;min-height:76px;border-bottom:1px solid #ececec;letter-spacing:-1px}
[class^=board-list] tbody td.cond,[class^=board-list] tbody td.date,[class^=board-list] tbody td.index,[class^=board-list] tbody td.writer{text-align:center}
[class^=board-list] tbody td.title a{display:inline-block;max-width:95%}
[class^=board-list] tbody td.title strong{font-size:15px;line-height:20px}
[class^=board-list] tbody td.title p{padding-top:7px;font-size:12px;color:#666}
[class^=board-list]+.board-paging{margin-top:50px}

/*! 게시판 > 리스트 기본형(prefix : board-list) */
.board-list{border-top:1px solid #111}
.board-list tbody td{font-size:12px}
.board-list tbody td.title a{display:inline-block;max-width:97%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;zoom:1}
.board-list span.condText *,.board-list tbody td.title *{vertical-align:middle}
.board-list span.condText.replyIn{color:#e03627}

/*! 게시판 >리스트 채용공고형(prefix : board-list) */
.board-list-recruit{border-top:1px solid #111}
.board-list-recruit thead th{background-color:#f9f9f9}
.board-list-recruit tbody td.type{text-align:center;font-weight:700;font-size:15px}
.board-list-recruit tbody td.date p{padding-top:7px;font-size:12px;color:#666}
.board-list-recruit tbody tr.closed td,.board-list-recruit tbody tr.closed td *{color:#999}

/*! 게시판 > 페이징(prefix : board-) */
.board-paging,.board-paging a{text-align:center}
.board-paging *{vertical-align:top}
.board-paging a{display:inline-block;box-sizing:border-box;padding-top:10px;min-width:30px;height:30px;border:1px solid #cecece;font-weight:700;font-size:12px}
.board-paging a.n{padding-top:7px}
.board-paging a.on{border:1px solid #e03627;color:#fff;background:#e03627}
.board-paging a i{display:inline-block;height:9px;background-image:url(../images/common/bg/bgBoardPaging.gif);background-repeat:no-repeat}
.board-paging a.first i,.board-paging a.last i{width:9px}
.board-paging a.next i,.board-paging a.prev i{width:5px}
.board-paging a.first i{background-position:0 0}
.board-paging a.prev i{background-position:-25px 0}
.board-paging a.next i{background-position:-50px 0}
.board-paging a.last i{background-position:-75px 0}

/*! 게시판 > 리스트 검색영역(prefix : board-) */
.board-search{position:relative;width:100%;height:26px}
.board-search .count{display:inline-block;padding-top:3px;font-size:12px}
.board-search .searchForm{position:absolute;top:0;right:0}
.board-search+.board-list{margin-top:30px}

/*! 게시판 > 상세 > 게시물정보 */
.board-view-info{width:100%;border-top:1px solid #111;border-bottom:1px dotted #111}
.board-view-info table{width:100%}
.board-view-info td,.board-view-info th{box-sizing:border-box}
.board-view-info thead th{padding:12px 30px;border-bottom:2px solid #111;text-align:left;font-size:14px;color:#252525;line-height:20px;background:#f9f9f9}
.board-view-info thead th.Q *{vertical-align:top}
.board-view-info thead th.Q .ico-radio-Q{margin-top:-1px;margin-right:15px}
.board-view-info thead th.Q .ico-radio-lock{margin-top:4px}
.board-view-info tbody tr:first-child td,.board-view-info tbody tr:first-child th{border-top:0}
.board-view-info tbody td,.board-view-info tbody th{padding-top:15px;padding-bottom:15px;border-top:1px solid #ececec;letter-spacing:-1px}
.board-view-info tbody th{padding-left:30px;text-align:left}
.board-view-info tbody td.title{color:#252525}
.board-view-info tbody td.date{font-size:12px;color:#666}
.board-view-info tbody td.download{font-size:12px}
.board-view-info tbody td.download b{font-weight:400;color:#252525}
.board-view-info tbody td.download .dotum{color:#999}

/*! 게시판 > 상세 */
.board-view-content{box-sizing:border-box;padding:50px 20px;width:100%;overflow:hidden;border-bottom:1px solid #111;line-height:1.5}

/*! 게시판 > 문의답변 */
.board-view-answer{position:relative;box-sizing:border-box;padding:30px 30px 30px 200px;min-height:230px;width:100%;overflow:hidden;border-bottom:1px solid #111;line-height:1.5}
.board-view-answer .date{position:absolute;top:20px;right:20px;font-weight:700;font-size:11px;color:#e03627;line-height:11px}
.board-view-answer .date *{vertical-align:top}
.board-view-answer .master{position:absolute;top:30px;left:30px;padding-top:150px;width:145px;text-align:center;font-weight:700;font-size:12px;background:url(../images/common/bg/bgBoardAnswer.png) no-repeat}
.board-view-answer .answer{font-size:12px;color:#666;line-height:1.5}
.board-view-answer .answer p{margin-top:10px}

/*! 게시판 > 이전다음글 */
.board-view-prevnext{width:100%;border-top:2px solid #111;border-bottom:1px solid #111}
.board-view-prevnext table{width:100%;table-layout:fixed}
.board-view-prevnext td,.board-view-prevnext th{box-sizing:border-box;padding-top:15px;padding-bottom:15px;border-top:1px solid #ececec}
.board-view-prevnext .title *{vertical-align:middle}
.board-view-prevnext .link a{display:inline-block;max-width:97%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;zoom:1}
.board-view-prevnext .date{font-size:12px;color:#666}
.board-view-answer+.board-view-prevnext,.board-view-content+.board-view-prevnext{border-top:1px solid #111}

/*! 게시판 > 쓰기 공통(prefix : board-) */
[class^=board-write]{width:100%;border-top:3px solid #111;background:#fff}
[class^=board-write].border-null{border-top:0}

/*! 게시판 > 쓰기 기본형(prefix : board-) : th와 td가 tr안에 함께 있음. */
.board-write table{width:100%;table-layout:fixed}
.board-write th{padding-left:20px;text-align:left;color:#252525}
.board-write th .byte{font-weight:400;font-size:12px;color:#999}
.board-write td,.board-write th{box-sizing:border-box;padding-top:10px;padding-bottom:10px;min-height:42px;border-bottom:1px solid #ececec;font-size:12px}
.board-write td>*{vertical-align:top}
.board-write td .row{padding-top:5px}
.board-write td .row:first-child{padding-top:0}
.board-write-vertical table{width:100%}
.board-write-vertical th{font-size:13px;color:#252525}
.board-write-vertical th sub{display:block;bottom:0;padding-top:3px;font-weight:400;font-size:11px;line-height:1.2}
.board-write-vertical td,.board-write-vertical th{box-sizing:border-box;padding-top:10px;padding-bottom:10px;border-bottom:1px solid #ececec;border-left:1px solid #ececec;text-align:center}
.board-write-vertical td:first-child,.board-write-vertical th:first-child{border-left:0}
.board-write-vertical td.border-none,.board-write-vertical th.border-none,.board-write-vertical tr.border-none td{border-left:0}

/*! 버튼 모듈(prefix : btn-) */
a[class^=btn-]{box-sizing:border-box;text-align:center}
a[class^=btn-] *{vertical-align:top}
a[class^=btn-],a[class^=btn-]>span{display:inline-block}
a.btn-xs{padding:5.5px 10px;height:22px;font-size:11px;line-height:7.33333px}
a.btn-sm{padding:10.5px 30px;height:33px;font-size:12px;line-height:8px}
a.btn-lg,a.btn-nm{padding:17px 30px;height:50px;font-size:16px;line-height:10.66667px}
a.btn-default{padding:5.5px 30px;height:22px;font-size:12px;line-height:8px}
a.btn-brand,a.btn-default,a.btn-submit{border:1px solid #e03627;color:#fff;background-color:#e03627}
a.btn-cancel{border:1px solid #010101;color:#fff;background-color:#252525}
a.btn-edit{border:1px solid #6eb92c;color:#fff;background-color:#6eb92c}
a.btn-upload{border:1px solid #e03627;color:#fff;background-color:#e03627}
a.btn-address{border:1px solid #cfcfcf;border-radius:3px;color:#252525;background-color:#fff}
a.btn-search{border:1px solid #010101;color:#fff;background-color:#252525}
a.btn-close-brand,a.btn-close-brand-xs{width:22px;height:22px;border:1px solid #e03523;background:#e03627 url(../images/common/ico/icoTransparentCloseX.png) no-repeat 50% 50%}
a.btn-close-brand span,a.btn-close-brand-xs span{display:none}
a.btn-close-brand-xs{width:15px;height:15px;background-size:9px 9px}
a.btn-add,a.btn-calc{height:22px;border:1px solid #ececec;background:#fff}
a.btn-calc{padding-top:4px;width:22px;text-align:center}
a.btn-add{position:relative;padding:0 22px 0 7px;width:62px;overflow:hidden;text-align:left;font-weight:700;font-size:11px;color:#333;line-height:18px}
a.btn-add span{width:100%;height:20px;border-right:1px solid #ececec}
a.btn-add i{position:absolute;top:4px;right:4px}
.btn-sec-center{text-align:center}
.btn-sec-tight>a{margin:0}

/*! 약관동의 모듈 */
.cpnt-agreeArticle>h3{padding-bottom:28px;letter-spacing:-1px;font-size:20px;color:#333;line-height:26px}
.cpnt-agreeArticle .apply label>*,.cpnt-agreeArticle>h3>*{vertical-align:top}
.cpnt-agreeArticle .cont{box-sizing:border-box;padding:25px;width:100%;height:190px;overflow-x:hidden;overflow-y:auto;border:1px solid #ccc}
.cpnt-agreeArticle .cont pre{color:#666;line-height:23px}
.cpnt-agreeArticle .apply{padding-top:20px;text-align:right}
.cpnt-agreeArticle .apply label{display:inline-block;margin-left:30px;height:22px;line-height:22px}
.cpnt-agreeArticle .apply input[type=radio]{display:none}
.cpnt-agreeArticle .apply input[type=radio]:checked+i.ico-radio-circleCheckRed{background-position:0 0}

/*! 레이어 컴포넌트(prefix:cpnt-) */
.cpnt-layer{min-width:300px}
.cpnt-layer .title{position:relative;width:100%;overflow:hidden;background:#e03627}
.cpnt-layer .title h3{box-sizing:border-box;padding-left:25px;width:100%;height:40px;font-size:16px;color:#fff;line-height:40px}
.cpnt-layer .title .close{position:absolute;top:0;right:0;width:40px;height:40px;background:#222 url(../images/common/ico/icoLayerClose.png) no-repeat}
.cpnt-layer .cont{box-sizing:border-box;padding:30px 25px;width:100%;border-right:1px solid #ccc;border-bottom:1px solid #ccc;border-left:1px solid #ccc;background:#fff}
.cpnt-layer .ulistSec{margin-top:20px}
.cpnt-layer .ulistSec .ulist-lightGray{padding-left:15px}
.cpnt-layer .ulistSec li{font-size:11px}
.cpnt-layer .tail{box-sizing:border-box;width:100%;border-right:1px solid #ccc;border-bottom:1px solid #ccc;border-left:1px solid #ccc;background:#fff}
.cpnt-layer .btnSec{margin-top:30px}

/*! 입력요소 공통적용(prefix : form-) */
span[class^=form-]{position:relative}
span[class^=form-] input,span[class^=form-] select,span[class^=form-] textarea{box-sizing:border-box;font-size:12px}
span[class^=form-] input:disabled,span[class^=form-] select:disabled,span[class^=form-] textarea:disabled{background:#f2f2f2}
span[class^=form-] .btn-inform{position:absolute;top:0;right:0}

/*! 입력요소 > 셀렉트 (prefix : form-) */
.form-select{display:inline-block;height:22px;font-size:1px}
.form-select label{display:none}
.form-select select{padding:0 10px;height:22px;border:1px solid #ececec;font-size:12px}

/*! 입력요소 > 텍스트인풋 (prefix : form-) */
.form-text{display:inline-block;height:22px;font-size:1px}
.form-text>label{display:none}
.form-text input[type=text]{padding:0 10px;height:22px;border:1px solid #ececec}

/*! 입력요소 > 패스워드인풋 (prefix : form-) */
.form-password{display:inline-block;height:22px}
.form-password>label{display:none}
.form-password input[type=password]{padding:0 10px;height:22px;border:1px solid #ececec}

/*! 입력요소 > 라디오버튼 (prefix : form-) */
.form-radio{display:inline-block;height:22px}
.form-radio>label{display:none}
.form-radio input[type=radio]+label{display:inline-block;height:22px;font-size:12px}
.form-radio input[type=radio]+label *{vertical-align:middle}

/*! 입력요소 > 체크박스 (prefix : form-) */
.form-checkbox{display:inline-block;height:22px}
.form-checkbox>label{display:none}
.form-checkbox input[type=checkbox]+label{display:inline-block;height:22px;font-size:12px}
.form-checkbox input[type=checkbox]:disabled+label{color:#999}

/*! 입력요소 > 텍스트에어리어 */
.form-textarea{display:inline-block}
.form-textarea>label{display:none}
.form-textarea textarea{padding:10px;border:1px solid #ececec}

/*! 입력요소 > 라벨 */
.form-label{display:inline-block;height:22px;font-size:12px;line-height:22px}

/*! 입력요소 > a버튼요소 (prefix : form-) */
.form-btn{display:inline-block;height:22px}
.form-btn>*{vertical-align:top}

/*! 입력요소 > 입력요소 가운데 텍스트(prefix : form-) */
.form-txt,.form-txt-tahoma{display:inline-block;height:22px;font-size:11px;line-height:22px}
.form-txt-tahoma{font-family:tahoma}

/*! 입력요소 > 입력요소 설명용 텍스트(우측)(prefix : form-) */
.form-inline-desc{display:inline-block;padding-left:10px;height:22px;font-size:11px;color:#666;line-height:22px}

/*! 입력요소 조합시 재조정 */
.form-checkbox+.form-checkbox,.form-checkbox+.form-radio,.form-checkbox+.form-select,.form-checkbox+.form-text,.form-label+[class^=form-],.form-radio+.form-checkbox,.form-radio+.form-radio,.form-radio+.form-select,.form-radio+.form-text,.form-select+.form-checkbox,.form-select+.form-radio,.form-select+.form-select,.form-select+.form-text,.form-text+.form-checkbox,.form-text+.form-radio,.form-text+.form-select,.form-text+.form-text{margin-left:5px}
[class^=form-]+.form-label{margin-left:15px}
.form-textarea+.form-dl{border-bottom:0}

/*! 입력요소 DL구조 */
.form-dl{width:100%;overflow:hidden;border-bottom:1px solid #ececec}
.form-dl dd,.form-dl dt{padding-top:10px;padding-bottom:10px}
.form-dl dt{float:left;font-weight:700;font-size:13px;color:#252525}
.form-dl dd{float:left}
.form-dl dd>*{vertical-align:middle}
.form-dl dd .form-label{font-size:11px}
.form-dl dd .form-txt-tahoma{color:#999}

/*! 아이콘들 : 아이콘 공통(prefix : ico-) */
[class^=ico-]{display:inline-block;box-sizing:border-box;text-align:center;font-style:normal;font-size:1px;line-height:1px}

/*! 아이콘들 : 아이콘(prefix : ico-) */
.ico-txtCheckRed{width:12px;height:12px;background:url(../images/common/ico/icoTxtCheckRed.png) no-repeat}
.ico-txtCheckGreen{width:12px;height:12px;background:url(../images/common/ico/icoTxtCheckGreen.png) no-repeat}
.ico-txtNewRed{width:12px;height:12px;background:url(../images/common/ico/icoTxtNewRed.png) no-repeat}
.ico-schedule{width:12px;height:12px;background:url(../images/common/ico/icoSchedule.png) no-repeat}
.ico-threeCircleRed{width:12px;height:12px;background:url(../images/common/ico/icoThreeCircleRed.png) no-repeat}
.ico-txtInfoRed{width:18px;height:18px;background:url(../images/common/ico/icoTxtInfoRed.png) no-repeat}
.ico-titRhombus{width:23px;height:24px;background:url(../images/common/ico/icoTitRhombus.png) no-repeat}
.ico-noticeDesc{width:35px;height:28px;background:url(../images/common/ico/icoNoticeDesc.png) no-repeat}
.ico-txtGrayBoxSmall{width:3px;height:12px;background:url(../images/common/ico/icoSmallGrayBox.gif) no-repeat}
[class^=ico-boardBox]{width:16px;height:16px;border:1px solid #ececec;background-image:url(../images/common/ico/icoBoardPrevNext.gif);background-repeat:no-repeat}
.ico-boardBoxPrev{background-position:5px 1px}
.ico-boardBoxNext{background-position:-20px 1px}
.ico-morePlusGray{width:16px;height:16px;background:url(../images/common/ico/icoMorePlusGray.gif) no-repeat}

/*! 아이콘들 : 라디오(prefix : ico-) */
.ico-radio-circleCheckRed,.ico-radio-lock{width:22px;height:22px;background-image:url(../images/common/bg/bgAgreeRadio.png);background-position:-29px 0;background-repeat:no-repeat}
.ico-radio-circleCheckRed.on,.ico-radio-lock.on{background-position:0 0}
.ico-radio-lock{width:12px;height:12px;background-image:url(../images/common/bg/bgLockRadio.png);background-position:-16px 0}
.ico-radioBox{padding-top:3px;width:22px;height:22px;border:1px solid #ececec}
.ico-radio-A,.ico-radio-Q,.ico-radio-minus,.ico-radio-plus{width:12px;height:12px;background-image:url(../images/common/bg/bgPlusMinusRadio.png);background-position:0 0;background-repeat:no-repeat}
.ico-radio-A,.ico-radio-Q,.ico-radio-minus{background-position:0 -22px}
.ico-radio-A,.ico-radio-Q{width:33px;height:23px;background-image:url(../images/common/bg/bgQnaRadio.png);background-position:0 0}
.ico-radio-A{background-position:0 -32px}

/*! 아이콘들 : 상태 */
[class^=ico-condition]{padding:2px 5px;width:48px;height:17px;font-size:11px;color:#fff;line-height:11px;background-image:url(../images/common/ico/icoCondition.png);background-repeat:no-repeat}
[class^=ico-condition] span{color:#fff!important}
.ico-conditionRed{background-color:#e03627}
.ico-conditionGreen{background-color:#6eb92c}
.ico-conditionBlack{background-color:#252525}

/*! 텍스트 공통(prefix : text-) */
.text-point{color:#e03627!important}
.text-green{color:#6eb92c!important}
.text-darkgray{color:#252525!important}

/*! 웹폰트 클래스 */
.dotum{font-family:"dotum"}

/*! 설명리스트 공통(prefix : ulist-) */
[class^=ulist-]{box-sizing:border-box;padding:15px 0;width:100%}
[class^=ulist-] ul{width:100%}
[class^=ulist-] li{padding:3px 0;font-size:12px;line-height:1.3}
[class^=ulist-] li>*{vertical-align:middle}
.ulist-default{background:0 0}
.ulist-lightGray{background:#f8f8f8}

/*! 쓰기,보기 영역(prefix : wall-) */
.wall-default{position:relative;box-sizing:border-box;padding:0 30px;width:100%;border-top:3px solid #111;border-bottom:1px solid #ececec}

/*! 프로필 쓰기,보기 영역(prefix : wall-) */
.wall-profile{position:relative;box-sizing:border-box;width:100%;border-top:3px solid #111;background:#222}
.wall-profile .board-write{width:778px}
.wall-profile .profile-write{position:absolute;top:0;right:0;width:162px}
.wall-profile .profile-write h4{box-sizing:border-box;padding-top:8px;height:41px;text-align:center;font-size:16px;color:#fff;background:#111}
.wall-profile .profile-write .photo{margin:0 auto;width:120px;height:160px;background:url(../images/common/bg/bgProfileNull.jpg) no-repeat}
.wall-profile .profile-write .photo>img{width:120px;height:160px}
.wall-profile .profile-write .photoDesc{padding-top:10px;text-align:center;font-size:12px;color:#fff;line-height:15px}
.wall-profile .profile-write .btnSec{margin-top:20px}

/*! wall 안에 cpnt가 포함될경우의 커스텀 */
[class^=wall-] .board-write,[class^=wall-] .board-write-vertical{border-top:0}

/*! wall 안에 cpnt가 옆에 있는경우 커스텀 */
.wall-default+.board-write,.wall-default+.board-write-vertical{border-top:0}
.wall-default+.form-dl dt{padding-left:20px}
