@charset "UTF-8";


/*! 입사지원 공통 */
.applicationWrap .createH2{padding-bottom:30px;border-bottom:1px solid #cecece;text-align:center;font-size:30px;color:#252525;line-height:30px}
.applicationWrap .createH3{padding-bottom:20px;font-size:16px;color:#252525;line-height:1}
.applicationWrap .createH3>*{vertical-align:middle}
.applicationWrap .btn-lg{min-width:190px}
.applicationWrap .createWriteSec{padding-top:50px;padding-bottom:10px}
.applicationWrap .createWriteSec .createArticle{position:relative;margin-top:50px}
.applicationWrap .createWriteSec .createArticle .byteText{position:absolute;top:20px;right:10px;font-size:11px;color:#999}
.applicationWrap .createWriteSec .createArticle:first-child{margin-top:0}
.applicationWrap .btnSec{margin-top:50px}
.applicationWrap .addRow{padding-top:15px;text-align:right;font-size:13px;color:#666}
.applicationWrap .addRow>*{vertical-align:top}
.applicationWrap .createSuccessSec{padding:90px 0;text-align:center}
.applicationWrap .createSuccessSec h3,.applicationWrap .createSuccessSec p{font-size:20px;line-height:30px}
.applicationWrap .createSuccessSec h3{padding-bottom:10px}

/*! 입사지원 > 지원서작성 > 동의 */
.applicationWrap.createStep0AgreeWrap .agreeArticle{margin-top:50px;width:100%}
.applicationWrap.createStep0AgreeWrap .agreeArticle+.agreeArticle{margin-top:90px}
.applicationWrap.createStep0AgreeWrap .agreeAllCheck{margin-top:50px;text-align:center}
.applicationWrap.createStep0AgreeWrap .agreeAllCheck label{display:inline-block;height:22px;line-height:22px}
.applicationWrap.createStep0AgreeWrap .agreeAllCheck label>*{vertical-align:top}
.applicationWrap.createStep0AgreeWrap .agreeAllCheck label input{display:none}
.applicationWrap.createStep0AgreeWrap .agreeAllCheck label input:checked+i.ico-radio-circleCheckRed{background-position:0 0}
.applicationWrap.createStep0AgreeWrap .btnSec{margin-top:30px;text-align:center}

/*! 입사지원 > 지원서작성 > 프로세스 오브젝트 */
.createProcess{margin-top:50px;width:100%}
.createProcess>ol{margin:0 auto;width:923px;overflow:hidden}
.createProcess>ol>li{float:left;padding:0 25px 0 50px;width:162px;background:url(../images/application/bgCreateProcessStep.gif) no-repeat 0 68.5px}
.createProcess>ol>li:first-child{padding-left:25px;background:0 0}
.createProcess .circle,.createProcess dl[class^=step]{width:162px;height:162px;background-image:url(../images/application/bgCreateProcessOff.gif);background-repeat:no-repeat}
.createProcess dl[class^=step]{background-image:url(../images/application/bgCreateProcess.png)}
.createProcess dl[class^=step]>dt{padding-top:30px;text-align:center;font-weight:700;font-size:14px}
.createProcess dl[class^=step]>dd{padding-top:70px;text-align:center;font-weight:700;font-size:13px}
.createProcess .step01{background-position:0}
.createProcess .step02{background-position:-162px}
.createProcess .step03{background-position:-324px}
.createProcess .step04{background-position:-486px}
.createProcess .stepOn{background-color:#e03627}

/*! 입사지원 > 합격자 조회 > 합격결과 */
.applicationWrap .passResultSec{box-sizing:border-box;margin-top:50px;padding:70px 50px;width:100%;border:1px solid #ececec}

/*! 회사소개 공통 */
.companyWrap .companyH2{padding-bottom:30px;border-bottom:1px solid #ececec;text-align:center;font-size:30px;color:#252525;line-height:30px}

/*! 메인 > 채용공고 */


/*! 컨덴츠 > 페이지공통 */
.pageWrap{margin:0 auto;padding-top:30px;padding-bottom:50px;width:940px}

/*! 컨덴츠 > 레이어대기영역 */
.layerSpace{display:none}

/*! 채용공고 공통 */
.recruitWrap .recruitH2{padding-bottom:30px;border-bottom:1px solid #ececec;text-align:center;font-size:30px;color:#252525;line-height:30px}

/*! 채용공고 > 검색 */
.recruitSearchSec{margin-top:60px;width:100%;text-align:center}
.recruitSearchSec h3{font-size:16px;color:#999}
.recruitSearchSec h3 b{color:#252525}
.recruitSearchSec fieldset{margin-top:30px}

/*! 채용공고 > 리스트 */
.recruitListSec{margin-top:50px}

/*! 채용공고 > 리스트 > 하단공지 */
.recruitNoticeDescSec{position:relative;box-sizing:border-box;margin-top:80px;padding:25px 30px;width:100%;border:1px solid #ececec;background:#fdfdfd}
.recruitNoticeDescSec h3{height:28px;font-size:20px;color:#252525;line-height:26px}
.recruitNoticeDescSec h3 *{vertical-align:top}
.recruitNoticeDescSec .ulist-default{padding-bottom:0}
.recruitNoticeDescSec .btnSec{position:absolute;top:65px;right:30px}

/*! 채용공고 > 상세 */
.recruitViewSec{margin-top:60px;width:100%}
.recruitViewSec .btnSec{margin-top:50px;text-align:center}
.recruitViewSec .btnSec a{margin-left:10px;width:190px}
.recruitViewSec .btnSec a:first-child{maargin-left:0}

/*! 유틸 공통 */
.utilWrap .utilH2{padding-bottom:30px;border-bottom:1px solid #ececec;text-align:center;font-size:30px;color:#252525;line-height:30px}

/*! 유틸 > 1:1 문의 > 리스트 */
.qnaListSec{margin-top:50px}
.qnaListSec .btnSec{margin-top:50px;text-align:center}
.qnaListSec .btnSec a{width:190px}

/*! 유틸 > 1:1 문의 > 상세 */
.qnaViewSec{margin-top:50px}
.qnaViewSec .btnSec{margin-top:50px;text-align:center}
.qnaViewSec .btnSec a{width:190px}

/*! 유틸 > 1:1 문의 > 쓰기 */
.qnaCreateSec,.qnaCreateSec .createArticle{margin-top:50px}
.qnaCreateSec .createArticle>h3{padding-bottom:22px;letter-spacing:-1px;font-size:16px;color:#333;line-height:14px}
.qnaCreateSec .createArticle>h3>*{vertical-align:top}
.qnaCreateSec .createArticle:first-child{margin-top:0}
.qnaCreateSec .form-txt{color:#666}
.qnaCreateSec .form-radio+.form-radio{margin-left:20px}
.qnaCreateSec .btnSec{margin-top:50px;text-align:center}
.qnaCreateSec .btnSec a{width:190px}

/*! 유틸 > FAQ > 상단코멘트 */
.faqDescSec{margin-top:50px;padding-top:85px;width:100%;text-align:center;background:url(../images/common/bg/bgFaqDesc.gif) no-repeat 50% 0}
.faqDescSec .desc{font-size:14px;line-height:20px}
.faqDescSec .btnSec{margin-top:30px}

/*! 유틸 > FAQ > 카테고리선택 */
.faqSelectRadioSec{margin-top:50px;width:100%;height:45px;text-align:center;background:url(../images/common/bg/bgFaq.gif) repeat-x}
.faqSelectRadioSec label{display:inline-block;padding:0 15px;font-weight:700;font-size:12px;color:#fff;line-height:45px}
.faqSelectRadioSec label *{line-height:45px}

/*! 유틸 > FAQ > 리스트 */
.faqListSec{width:100%;overflow:hidden}
.faqListSec dl{width:100%}
.faqListSec dl dd,.faqListSec dl dt{position:relative;box-sizing:border-box;width:100%;overflow:hidden;border-bottom:1px solid #ececec}
.faqListSec dl dt a{display:block;box-sizing:border-box;padding-left:63px;width:100%;height:52px;line-height:52px}
.faqListSec dl dt a span{display:inline-block;width:820px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;zoom:1}
.faqListSec dl dt a .ico-radio-Q{position:absolute;top:15px;left:20px}
.faqListSec dl dt a .ico-radioBox{position:absolute;top:15px;right:20px}
.faqListSec dl dt .ico-radio-plus{display:inline-block}
.faqListSec dl dt .ico-radio-minus,.faqListSec dl dt.open .ico-radio-plus{display:none}
.faqListSec dl dt.open .ico-radio-minus{display:inline-block}
.faqListSec dl dd{display:none;padding:25px 20px 25px 82px;background:#fdfdfd}
.faqListSec dl dd.open{display:block}
.faqListSec dl dd .ico-radio-A{position:absolute;top:25px;left:20px}
.faqListSec dl dd .desc{font-size:12px;color:#666;line-height:18px}
