@charset "UTF-8";
@import "../_lib/val.scss";
@import "../_lib/mixin.scss";

/*! 텍스트 공통(prefix : text-) */
.text-point{color:$COLOR-BRAND !important;}
.text-green{color:$COLOR-GREEN !important;}

/*! 웹폰트 클래스 */
.dotum{font-family:"dotum";}